<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\ActionInterface">
        <plugin name="qoliber_psl_modify_meta_tags"
                type="Qoliber\Psl\Plugin\App\ModifyMetaTags"
                sortOrder="10"
                disabled="false"/>
    </type>
</config> 